#skin_wrapper {
  font-size: 18px;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
}
html {
  height: 100%;
}
body {
  overflow-x: visible !important;
  -webkit-font-smoothing: subpixel-antialiased;
}
.evo_container__header {
  margin-bottom: 30px;
}
.disp_login .evo_container__header,
.disp_lostpassword .evo_container__header,
.disp_register .evo_container__header {
  margin-top: 70px;
}
.evo_container__page_top {
  margin-top: 70px;
}
.evo_container__page_top .ufld_icon_links {
  text-align: right;
}
.evo_widget.widget_core_coll_tagline {
  letter-spacing: 0.2px;
  font-style: italic;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.evo_container__front_page_primary {
  padding: 80px;
}
.evo_container__front_page_primary .evo_widget {
  margin-top: 30px;
}
.evo_container__front_page_primary .evo_widget div,
.evo_container__front_page_primary .evo_widget h1,
.evo_container__front_page_primary .evo_widget h2,
.evo_container__front_page_primary .evo_widget p {
  margin-top: 0;
}
.evo_container__front_page_primary .evo_widget div > p:last-child,
.evo_container__front_page_primary .evo_widget:last-child > h2,
.evo_container__front_page_primary .evo_widget:last-child > ul,
.evo_container__front_page_primary .evo_widget > ul li:last-child {
  margin-bottom: 0 !important;
}
.secondary_area {
  position: relative;
  z-index: 1;
  width: 100%;
}
.secondary_area p {
  margin-top: 10px;
}
.footer_wrapper {
  padding: 48px 15px;
}
.footer_wrapper p {
  padding: 0 0 18px;
}
.footer_wrapper .powered_by img {
  background: #fff;
  border-radius: 4px;
  padding: 2px;
}
.footer_wrapper h1,
.footer_wrapper h2,
.footer_wrapper h3,
.footer_wrapper h4,
.footer_wrapper h5,
.footer_wrapper h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.navbar.main-header-navigation {
  padding: 0 20px;
  position: absolute;
  width: 100%;
  border-radius: 0;
  border: 0;
  margin: 0;
  z-index: 999;
}
.navbar.main-header-navigation .navbar-brand {
  padding: 0;
}
.navbar.main-header-navigation .navbar-brand > h3 {
  margin-top: 10px;
}
.navbar.main-header-navigation .navbar-brand > h3 a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: .15em;
  text-transform: uppercase;
}
.navbar.main-header-navigation .navbar-collapse .nav {
  margin: 0;
}
.navbar.main-header-navigation .navbar-collapse .nav li {
  padding: 0;
  padding-bottom: 3px;
}
.navbar.main-header-navigation .navbar-collapse .nav li a {
  transition: .1s opacity linear;
}
.navbar.main-header-navigation .navbar-collapse .nav li.menu-button a {
  border: 2px solid;
  border-radius: 300px;
  padding: 9px 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 5px;
  transition: .1s opacity linear;
}
.navbar.main-header-navigation .navbar-collapse .nav:hover li a {
  opacity: 0.8;
}
.navbar.main-header-navigation .navbar-collapse .nav:hover li a:hover {
  opacity: 1;
}
.navbar.main-header-navigation.navbar-default .navbar-nav > .active > a,
.navbar.main-header-navigation.navbar-default .navbar-nav > .active > a:focus,
.navbar.main-header-navigation.navbar-default .navbar-nav > .active > a:hover,
.navbar.main-header-navigation.navbar-default .navbar-nav li > a {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  letter-spacing: .18em;
}
div.front_main_area {
  max-width: 100%;
  padding: 0;
  margin: 85px 0;
}
div.front_main_area .front_main_content {
  border-radius: 6px;
  padding: 5px 15px;
}
div.front_main_area div.widget {
  margin: 30px 0;
}
div.front_main_area .evo_container__front_page_primary .widget_core_coll_title h1 a {
  font-size: 80px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-weight: 100;
}
body.pictured #skin_wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body.pictured #skin_wrapper.skin_wrapper_loggedin {
  margin-top: 0;
  padding-top: 27px;
}
body.pictured .container.main_page_wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
}
body.pictured .container.main_page_wrapper .panel {
  color: #333;
}
body.pictured .container.main_page_wrapper .panel a:not([class]) {
  color: #337ab7;
  text-decoration: none;
}
body.pictured .container.main_page_wrapper .panel a:not([class]):hover {
  color: #23527c;
  text-decoration: underline;
}
body.pictured .container.main_page_wrapper .panel input {
  -webkit-font-smoothing: subpixel-antialiased;
}
body.pictured div#debug_info.debug {
  position: absolute;
  top: 100%;
}
.evo_pictured_layout {
  min-height: 100%;
  background-size: cover;
  background-position: center center;
}
@media only screen and (max-width: 640px) {
  body.disp_front .sitewide_header {
    margin-bottom: 0;
  }
  body.disp_front .evo_pictured_layout {
    position: relative;
    height: auto;
    min-height: auto;
  }
  body.disp_front .evo_pictured_layout > .evo_pictured__image {
    display: block;
  }
  body.disp_front div.front_main_area {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.widget_core_user_login #login_form .form-group {
  margin: 0;
}
.widget_core_user_login #login_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_login #login_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_login #login_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_login .submit {
  font-size: 12px;
}
.widget_core_user_login .field_login_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_login .field_login_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
.widget_core_user_login .register_link {
  display: block;
  padding-top: 10px;
}
.widget_core_user_register #register_form .form-group {
  margin: 0;
}
.widget_core_user_register #register_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_register #register_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_register #register_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_register .submit {
  font-size: 12px;
}
.widget_core_user_register .field_register_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_register .field_register_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
ul.profile_tabs {
  margin: 0 2ex 2ex;
  position: relative;
  top: 1px;
}
.profile_avatar {
  float: right;
  padding: 10px;
  margin-left: 10px;
}
.form-horizontal .controls textarea.form-control {
  width: 100%;
}
input.search_field {
  margin-bottom: 0;
  display: inline-block;
}
form.search .search_options {
  width: 100%;
}
form.search .search_options .search_option input {
  margin-right: 5px;
}
form.search .search_options .search_option label {
  margin-bottom: 0;
  margin-top: 5px;
}
div.compact_search_form input.search_field {
  width: 100%;
  margin: 0;
}
div.extended_search_form {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 530px;
}
div.extended_search_form .search_options {
  text-align: center;
}
div.extended_search_form .search_options .search_option {
  display: inline-block;
  margin-right: 10px;
}
table.catselect input#new_category_name {
  width: 98% !important;
}
label.control-label[for=post_title] {
  width: auto;
}
textarea.message_text {
  width: 95%;
}
.evo_post {
  margin-bottom: 2em;
}
.evo_post .small.text-muted {
  margin: 4px 0 10px;
}
.evo_post .small.text-muted a,
.evo_post .small.text-muted a .glyphicon {
  color: inherit;
}
.evo_hasbgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.bSideItem {
  background: #F7F5FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
}
div.bSideItem h4 {
  margin-top: 0;
}
.skin-form .panel-body .panel {
  border: none;
  box-shadow: none;
}
.skin-form .panel-body .panel-body {
  padding: 0;
}
.skin-form .fieldset {
  margin: 0;
}
.skin-form .fieldset div.input {
  margin: 0;
}
.skin-form .control-buttons,
.skin-form div.input {
  padding: 0;
  width: 100%;
  text-align: center;
}
.evo_panel__login,
.evo_panel__lostpass,
.evo_panel__register,
.evo_panel__activation {
  min-width: 290px;
  margin: 1.5em auto auto;
}
.evo_panel__login .panel,
.evo_panel__lostpass .panel,
.evo_panel__register .panel,
.evo_panel__activation .panel {
  margin: 5px 0;
}
.evo_panel__login .panel-body,
.evo_panel__lostpass .panel-body,
.evo_panel__register .panel-body,
.evo_panel__activation .panel-body {
  padding-top: 20px;
  padding-bottom: 0;
}
.evo_panel__login {
  max-width: 400px;
}
.evo_panel__lostpass {
  max-width: 480px;
}
.evo_panel__lostpass #ffield_x label {
  display: none;
}
.evo_panel__activation {
  max-width: 530px;
}
.evo_panel__activation #activateinfo_form .control-buttons {
  text-align: left;
}
.evo_panel__register {
  max-width: 580px;
}
.evo_panel__register .control-buttons {
  text-align: left;
}
.evo_panel__register.register-disabled {
  width: 350px;
}
.evo_panel__register .form-control#country,
.evo_panel__register .form-control#u {
  width: 100%;
}
.evo_form__login_links {
  padding: 0 5px;
  font-size: 92%;
}
.evo_form__login fieldset {
  margin-bottom: 20px;
}
.evo_form__login .controls {
  padding: 0;
  margin: 0;
  width: 100%;
}
.evo_form__login .control-buttons {
  margin-left: 0;
}
.evo_form__login input.form-control[type=text],
.evo_form__login input.form-control[type=password] {
  width: 100%;
}
.evo_form__login .btn {
  margin-top: 5px;
}
#login_form .control-buttons {
  text-align: left;
}
.standard_login_link {
  text-align: center;
  margin: 3em 0 1ex 0;
}
.form_footer_notes {
  margin-top: 0;
}
.pagination {
  margin: 0;
}
.filter_item div {
  height: 22px;
}
div.action_messages,
div.log_container {
  margin: 0;
}
.evo_post_title {
  display: table;
}
.evo_post_title h1,
.evo_post_title h2,
.evo_post_title h3,
.evo_post_title h4,
.evo_post_title h5,
.evo_post_title h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.evo_post_title h2 {
  display: table-cell;
  margin: 0;
  padding: 20px 0 10px;
}
.evo_post_title .btn-group {
  display: table-cell;
  padding: 20px 0 10px 30px;
  vertical-align: middle;
}
body.pictured .front_main_content .ufld_icon_links a {
  width: 60px;
  height: 60px;
  margin: 5px;
}
body.pictured .front_main_content .ufld_icon_links a .fa {
  font-size: 30px;
  line-height: 60px;
}
.widget_core_org_members {
  margin: 5em 0 30px;
  color: #333;
}
.widget_core_org_members img {
  width: 200px;
  height: 200px;
  display: inline-block;
}
.widget_core_org_members h2.page-header {
  margin-top: 0;
}
.widget_core_org_members p.user_field {
  margin-bottom: 40px;
}
body.pictured .secondary_area .widget_core_org_members a.user_link {
  color: #000;
}
body.pictured .secondary_area .widget_core_org_members a.user_link:hover {
  color: #23527c;
}
@media (max-width: 640px) {
  body.pictured .front_main_content .ufld_icon_links a {
    width: 45px;
    height: 45px;
    margin: 5px;
  }
  body.pictured .front_main_content .ufld_icon_links a .fa {
    font-size: 20px;
    line-height: 45px;
  }
  .slide_button_wrap {
    display: none !important;
  }
}
.slide_button_wrap {
  position: fixed;
  bottom: 20px;
  left: 50%;
  line-height: 1em;
}
.slide_button_wrap #slide_button {
  display: inline-block;
  font-size: 55px;
  color: #ffffff;
  text-align: center;
  opacity: 0.5;
  transition: 0.1s all;
  position: relative;
  left: -50%;
}
.slide_button_wrap #slide_button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.evo_container__front_page_secondary,
.evo_container__standalone_page_area_6,
.evo_container__standalone_page_area_7,
.evo_container__standalone_page_area_oth {
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
}
.evo_container__front_page_secondary h1,
.evo_container__standalone_page_area_6 h1,
.evo_container__standalone_page_area_7 h1,
.evo_container__standalone_page_area_oth h1,
.evo_container__front_page_secondary h2,
.evo_container__standalone_page_area_6 h2,
.evo_container__standalone_page_area_7 h2,
.evo_container__standalone_page_area_oth h2,
.evo_container__front_page_secondary h3,
.evo_container__standalone_page_area_6 h3,
.evo_container__standalone_page_area_7 h3,
.evo_container__standalone_page_area_oth h3,
.evo_container__front_page_secondary h4,
.evo_container__standalone_page_area_6 h4,
.evo_container__standalone_page_area_7 h4,
.evo_container__standalone_page_area_oth h4,
.evo_container__front_page_secondary h5,
.evo_container__standalone_page_area_6 h5,
.evo_container__standalone_page_area_7 h5,
.evo_container__standalone_page_area_oth h5,
.evo_container__front_page_secondary h6,
.evo_container__standalone_page_area_6 h6,
.evo_container__standalone_page_area_7 h6,
.evo_container__standalone_page_area_oth h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.evo_widget h2.page-header,
.evo_post h2.page-header {
  border: none;
  margin-top: 0;
  padding: 0 0 17px;
  font-size: 38px;
}
.evo_widget h1,
.evo_post h1,
.evo_widget h2,
.evo_post h2,
.evo_widget h3,
.evo_post h3,
.evo_widget h4,
.evo_post h4,
.evo_widget h5,
.evo_post h5,
.evo_widget h6,
.evo_post h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.evo_widget p,
.evo_post p,
.evo_widget ul,
.evo_post ul,
.evo_widget > div,
.evo_post > div,
.evo_widget,
.evo_post {
  margin-bottom: 0;
  padding: 0 0 18px;
}
.evo_widget ul,
.evo_post ul {
  display: inline-block;
}
.evo_widget > .btn.btn-default,
.evo_post > .btn.btn-default {
  margin: 20px 0;
  border: none;
  border-radius: 300px;
  padding: 13px 26px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  transition: .1s opacity linear;
}
.evo_widget > .btn.btn-default:hover,
.evo_post > .btn.btn-default:hover {
  opacity: 0.8;
}
.evo_post .evo_container__item_page,
.detail_msgform .main_page_wrapper,
.disp_help .main_page_wrapper,
.main_page_wrapper_other_disps {
  padding-top: 80px;
  padding-bottom: 80px;
}
a[rel~=nofollow]:not([class~=btn]):hover {
  background-color: transparent;
}
div[class*="_list"],
.evo_layout_list {
  text-align: left;
}
.text-xl,
.text-xl div,
.text-xl a,
.text-xl h1,
.text-xl h2,
.text-xl h3,
.text-xl h4,
.text-xl h5,
.text-xl h6,
.text-xl ul {
  font-size: 160% !important;
}
.text-lg,
.text-lg div,
.text-lg a,
.text-lg h1,
.text-lg h2,
.text-lg h3,
.text-lg h4,
.text-lg h5,
.text-lg h6,
.text-lg ul {
  font-size: 130% !important;
}
.text-sm,
.text-sm div,
.text-sm a,
.text-sm h1,
.text-sm h2,
.text-sm h3,
.text-sm h4,
.text-sm h5,
.text-sm h6,
.text-sm ul {
  font-size: 80% !important;
}
.text-xs,
.text-xs div,
.text-xs a,
.text-xs h1,
.text-xs h2,
.text-xs h3,
.text-xs h4,
.text-xs h5,
.text-xs h6,
.text-xs ul {
  font-size: 60% !important;
}
.disp_threads .nav li,
.disp_msgform .nav li,
.disp_posts .nav li,
.disp_single .nav li,
.disp_page .nav li,
.disp_help .nav li {
  padding: 0;
}
.disp_threads .evo_widget .btn.btn-default,
.disp_msgform .evo_widget .btn.btn-default,
.disp_posts .evo_widget .btn.btn-default,
.disp_single .evo_widget .btn.btn-default,
.disp_page .evo_widget .btn.btn-default,
.disp_help .evo_widget .btn.btn-default {
  color: #FFFFFF;
  background-color: #318780;
}
.nav.nav-tabs li {
  padding: 0;
}
